* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.sidebar {
  width: 250px;
  background-color: #ffffff;
  border-right: 1px solid #e5e7eb;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 1000;
  
}

/* Logo */
.logo-section {
  padding: 20px;
  border-bottom: 1px solid #f3f4f6;

}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-around

}

/* Menú */
.nav-menu {
  flex: 1;
  padding: 20px 0;
}

.menu-list {
  list-style: none;
}

.menu-item {
  margin-bottom: 4px;
}

.menu-link {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  text-decoration: none;
  color: #101010;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s ease;
  position: relative;
}

.menu-link:hover {
  background-color: #f9fafb;
  color: #374151;
}

/* Main Content para que no se superponga */
.main-content {
  margin-left: 250px;
  flex: 1;
  padding: 20px;
  background-color: #f9fafb;
}

/* Responsive */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: relative;
    height: auto;
  }

  .main-content {
    margin-left: 0;
  }
  
}
